@{
    ViewData["Title"] = "Ana Sayfa";
}
<div class="container mt-5">
    <div class="p-5 text-center bg-light rounded-3 shadow-sm border">
        <h1 class="display-4 fw-bold text-primary">Sanal Kütüphaneye Hoş Geldiniz</h1>
        <p class="lead mt-3 text-secondary">Aradığınız tüm kitaplar tek bir platformda. Hemen satın alın veya kiralayın.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg shadow-sm px-5 rounded-pill" href="/api/Book/GetCatalog" role="button">Kataloğu İncele</a>
    </div>
</div>